body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  font-weight: 400 !important;
  opacity: .9 !important;
}

.nav-link:hover {
  font-weight: 600 !important;
}

#home-welcome {
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 3rem !important;
  margin-top: 3.5rem;
}

#welcome-gif {
  width: 50%;
  margin-top: 1rem;
}

#card-box {
  display: flex;
  margin: 1rem 0 0 1rem;
  gap: 1rem;
}

#nameorigin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#expand {
  display: flex;
  align-items: flex-end;
}